/* You can add global styles to this file, and also import other style files */
.highlight .cart-item {
  background-color: #ccc;
}

.fancy-click {
  font-size: 1.5em;
  border: 1px #cccccc solid;
}

